header {
    border-radius: 0 0 20px 20px;
    width: 100%;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #bef790;
    z-index: 10;
}

header .logo {
    position: relative;
    max-width: 80px;
}

header ul {
    position: relative;
    display: flex;
}

header ul li {
    list-style: none;
}

header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    padding: 0px 30px;
    text-decoration: none;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

.container {
    max-width: 600px;
    margin: 10 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    color: #333;
}

.empresas-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.empresa-card {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.empresa-card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-bottom: 1px solid #ddd;
}

.info {
    padding: 20px;
}

.info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    color: #333;
}

.info p {
    margin: 0;
    color: #666;
}

.circulo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #bef790;
    clip-path: circle(500px at right 800px);
}

.imgbox {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    width: 600px;
    display: flex;
    justify-content: flex-end;
    padding-right: 100px;
    margin-top: 50px;
}

.imgbox img {
    max-width: 500px;
    position: fixed;
}

.sci {
    position: fixed;
    top: 50%;
    right: 30px;
    transform: translateY(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.sci li {
    list-style: none;
}

.sci li a {
    display: inline-block;
    margin: 5px 0;
    transform: scale(0.6);
    filter: invert(1);
}

.empresa-card .delete-btn,
.empresa-card .edit-btn {
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 3px;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}

.empresa-card .delete-btn:hover,
.empresa-card .edit-btn:hover {
    background-color: #45a049;
}

.btn-container {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.empresa-card .delete-btn {
    background-color: #ff0000;
}

.empresa-card .delete-btn:hover {
    background-color: #ff0000;
}
